#twitter_gadget {
	width: 95%;
	min-height: 150px;
}

#body {
	margin-top: 10px;
}

#header {

}

#footer {
	float: right;
	margin-right: 10px;
}

#saveButton {
	margin-left: 10px;
	margin-top: 10px;
}

#cancelButton {
	margin-left: 10px;
}

#editButton {
	margin-top: 10px;
}