#twitter_gadget {
	width: 95%;
	min-height: 150px;
	position: relative;
}

#body {

}

#header {

}

#header h3 {
  display: inline-block;
  vertical-align: middle;
}

#header .help {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

#footer {
	float: right;
	margin-right: 10px;
	position: absolute;
	top: 0px;
	right: -10px;
}

#saveButton {
	margin-left: 10px;
	margin-top: 10px;
}

#cancelButton {
	margin-left: 10px;
}

#editButton {
	margin-top: 10px;
}

#editButtonIcon {
	margin-top: 10px;
	margin-left: 10px;
	width: 22px;
	height: 22px;
	background-image: url('http://opensocialuser.github.io/settings_icon.png');
}

.error-txt {
	color: #ff0000;
	font-size: 13px;
	display: block;
}

.label {
	font-size: 14px;
	margin-bottom: 6px;
}

#help_icon {
	width: 16px;
	height: 16px;
	background-image: url('http://opensocialuser.github.io/jam_help_icon.png');
	background-size: contain;
}
