#twitter_gadget {
	width: 95%;
	min-height: 150px;
	position: relative;
}

#body {
	margin-top: 10px;
}

#header {

}

#footer {
	float: right;
	margin-right: 10px;
	position: absolute;
	top: 0px;
	right: -10px;
}

#saveButton {
	margin-left: 10px;
	margin-top: 10px;
}

#cancelButton {
	margin-left: 10px;
}

#editButton {
	margin-top: 10px;
}

#editButtonIcon {
	margin-top: 10px;
	margin-left: 10px;
	width: 22px;
	height: 22px;
	background-image: url('http://opensocialuser.github.io/settings_icon.png');
}

#error_txt {
	color: #ff0000;
	font-size: 13px;
}

.label {
	font-size: 14px;
	margin-bottom: 6px;
}

.help-container {
	text-align: center;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border-style: solid;
	border-width: thin;
	border-color: black;

	.help-link {
		font-size: 18px;
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
}
